extends layout.pug

block content
    .container
        .column(
            ng-app="application"
        )
            .row
                h1 JavaScript Frameworks Performance Benchmark
            .row
                h3 Angular implementation
            .row(
                ng-controller="PerformanceTestController"
            )
                table
                    thead
                        tr
                            th Name
                            th Status
                            th Average CPU load
                            th Available memory [MB]
                            th Used memory [MB]
                            th Free memory [MB]
                            th Available HDD [MB]
                            th Free HDD [MB]
                            th Used HDD [MB]
                            th Uptime
                        tr(
                            ng-repeat="virtualMachine in virtualMachines.get()"
                        )
                            td {{ virtualMachine.name }}
                            td {{ virtualMachine.status }}
                            td {{ virtualMachine.averageCpuLoad.toFixed(2) }}
                            td {{ virtualMachine.memory.available.toFixed(0) }}
                            td {{ virtualMachine.memory.used.toFixed(0) }}
                            td {{ virtualMachine.memory.free.toFixed(0) }}
                            td {{ virtualMachine.hdd.available.toFixed(0) }}
                            td {{ virtualMachine.hdd.used.toFixed(0) }}
                            td {{ virtualMachine.hdd.free.toFixed(0) }}
                            td {{ virtualMachine.uptime }}
                    tbody
    script(src="/public/vendor/angular.min.js")
    script(src="/public/js/angular.js")