extends layout.pug

block content
    .container
        .column(
            ng-app="application"
        )
            .row
                h1 JavaScript Frameworks Performance Benchmark
            .row
                h3 Angular implementation
            .row(
                ng-controller="PerformanceTestController"
            )
                virtual-machines-table(
                    virtual-machines="virtualMachines"
                )
    script(src="/public/js/angular.js")