extends layout.pug

block content
    .container
        .column
            .row
                h1 JavaScript Frameworks Performance Benchmark
            .row
                h3 Available Implementations
            .row
                ol
                    li 
                        a(href="/native") Native