extends layout.pug

block content
    .container
        .column
            .row
                h1 JavaScript Frameworks Performance Benchamrk
            .row
                p Environment 
                    em #{environment}
            .row
                h3 Random Persons Generator output example
            .row
                table
                    thead
                        tr
                            th Name
                            th Age
                            th Gender
                    tbody#persons
    script(src="/public/index.js")
                