extends layout.pug

block content
    .container
        .column
            .row
                h1 JavaScript Frameworks Performance Benchmark
            .row
                h3 Implementations
            .row
                ol
                    li 
                        a(href="/angular") Angular
                    li 
                        a(href="/angular2") Angular 2
                    li 
                        a(href="/mithril") Mithril.js
                    li 
                        a(href="/react") React
                    li 
                        a(href="/vue") Vue.js
            .row
                h3 Examples
            .row
                ol
                    li 
                        a(href="/examples/html") HTML 5.1
                    li 
                        a(href="/examples/html-css") HTML 5.1 + CSS 3