html
    head
        title #{title}
        link(rel="stylesheet", href="/public/vendor/milligram.min.css")
        script(src="/public/js/commons.js")
        script(src="/public/js/vendor.js")
        script(src="/public/js/polyfills.js")
        script(src="/public/js/stats.js")
    body
        block content