html
  head
    title #{title}
    link(rel="stylesheet", href="/public/vendor/milligram.min.css")
    script(src="/public/vendor/stats.min.js")
    script(src="/public/vendor/chance.min.js")
    script(src="/public/js/random-persons-generator.js")
    script(src="/public/js/stats.js")
  body
    block content