extends layout.pug

block content
    .container
        .column
            .row
                h1 JavaScript Frameworks Performance Benchmark
            .row
                h3 Native implementation
            .row
                table
                    thead
                        tr
                            th Name
                            th Age
                            th Gender
                    tbody#persons
    script(src="/public/js/native.js")
                