extends layout.pug

block content
    .container
        .column
            .row
                h1 JavaScript Frameworks Performance Benchmark
            .row
                h3 React implementation
            .row
                #root
    script(src="/public/js/react.js")