extends layout.pug

block content
    .container
        .column
            .row
                h1 JavaScript Frameworks Performance Benchmark
            .row
                h3 Vue.js implementation
            .row
                #root
    script(src="/public/js/vue.js")